.navbar-brand:hover{
	cursor: pointer;
}

ul.nav.navbar-nav.navbar-right{
	    font-size: 15px;
    font-weight: 500;
}

.main{
	margin-top: 60px;
}

table {
	font-size: 15px;
}

select {
	-webkit-appearance: none !important;
	-moz-appearance: none;
	appearance: none;
	/* 	color: #fff !important; */
}

.gender {
	margin-top: 7px;
}

tr td {
	padding-top: 10px ! important;
}

.center-block {
	float: none !important
}

body {
	background-color: #eee;
	padding-bottom: 4%;
}

hr {
	margin: 0 0 4% 0;
	border-top: 2px solid lightgrey;
}

.card {
	border-radius: 2px;
	padding: 2% 4% 2% 4%;
	background-color: #fff;
	margin-top: 20px;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-responsive {
	overflow-x: visible ! important;
}

.search-bar {
	margin-bottom: 30px;
}

.input-group {
	margin-bottom: 30px;
}

#showErrorSearch, #showErrorAdd, #showSuccessAdd {
	display: none;
}

caption {
	font-size: x-large;
	color: gray;
}